<launch>
  <arg name="planner" default="dwa" />
  <arg name="execution" default="e0" />
  <param name="/use_sim_time" value="true" />
  <node pkg="scale_planner_bridge" type="planner_bridge_node" name="scale_planner_bridge" output="screen">
    <rosparam ns="local_costmap" file="$(find scale_planner_bridge)/config/common.yaml" command="load" />
    <rosparam file="$(find scale_planner_bridge)/config/$(arg planner).yaml" command="load" />
    <rosparam file="$(find scale_planner_bridge)/config/matrix_common.yaml" command="load" />
    <rosparam file="$(find scale_planner_bridge)/config/execution_$(arg execution).yaml" command="load" />
  </node>
</launch>
